
// Main color palette

$tangaroa: #193441;
$cello: #3E606F;
$mantle: #91AA9D;
$orinoco: #D1DBBD;
$orchid: #FCFFF5;

$background: #193441;
$primary-color: #3E606F;
$secodary-color: #91AA9D;
$accent: #fff;
